---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const poems = (await getCollection("poetry")).sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<BaseLayout
    title={`Poetry | ${SITE_TITLE}`}
    description="A collection of poetry"
>
    <div
        class="col-span-12 md:col-span-10 md:col-start-2 xl:col-span-8 xl:col-start-3"
    >
        <h1 class="text-display-sm text-primary mb-8">A silhouette's squire</h1>
        <div class="mt-8 grid gap-6 sm:grid-cols-2 md:gap-8">
            {
                poems.map((poem, idx) => (
                    <a
                        href={`/poetry/${poem.id}/`}
                        class="group animate-fade-in-up"
                        style={`animation-delay: ${idx * 25}ms;`}
                    >
                        <div class="relative h-60 w-full overflow-hidden md:h-72 lg:h-80">
                            <Image
                                src={poem.data.image}
                                alt={poem.data.title}
                                loading={idx < 6 ? "eager" : "lazy"}
                                class="h-full w-full object-cover transition-transform duration-200 group-hover:scale-105"
                            />
                        </div>
                        <div class="mt-4 flex items-baseline justify-between gap-2">
                            <h2 class="text-heading-md font-semibold">
                                {poem.data.title}
                                <span class="group-hover:text-text ml-2 text-transparent">
                                    &rarr;
                                </span>
                            </h2>
                            <div class="min-w-24 text-right">
                                <span class="text-secondary text-body-sm font-bold">
                                    <FormattedDate
                                        date={new Date(poem.data.date)}
                                    />
                                </span>
                            </div>
                        </div>
                    </a>
                ))
            }
        </div>
    </div>
</BaseLayout>
