---
import Intro from "../components/Intro.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../content/site";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={site.title} description={site.description}>
    <main
        class="col-span-12 pt-4 md:col-span-10 md:col-start-2 xl:col-span-8 xl:col-start-3"
    >
        <div class="mx-auto w-full max-w-4xl">
            <Intro />
        <div class="mt-8">
            {
                posts.map((post, idx) => (
                    <a
                        href={`/posts/${post.id}/`}
                        class="group hover:bg-theme-accent animate-fade-in-up border-tertiary hover:border-tertiary -mt-[2px] block border-y-2 py-4 first:mt-0 first:border-t-transparent last:border-b-transparent hover:-mx-4 hover:px-4"
                        style={`animation-delay: ${idx * 25}ms;`}
                    >
                        <div class="flex flex-col justify-between sm:flex-row sm:items-center">
                            <h2 class="text-heading-md flex">
                                {post.data.title}
                                <span class="no-select group-hover:text-text ml-2 text-transparent">
                                    &rarr;
                                </span>
                            </h2>
                            <span class="no-select text-secondary text-body-sm mt-1 font-bold sm:mt-0 sm:shrink-0">
                                <FormattedDate date={post.data.pubDate} />
                            </span>
                        </div>
                    </a>
                ))
            }
        </div>
        </div>
    </main>
</BaseLayout>
