---
import Intro from "../components/Intro.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <div class="col-span-12 md:col-span-8 md:col-start-3">
        <Intro />
        <ul class="mt-8 list-none p-0">
            {
                posts.map((post) => (
                    <li class="mb-6">
                        <a
                            href={`/posts/${post.id}/`}
                            class="text-inherit no-underline transition-colors hover:text-blue-600"
                        >
                            <h4 class="m-0 text-xl font-semibold">
                                {post.data.title}
                            </h4>
                            <p class="m-0 text-gray-500">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
